{% extends 'base.html' %}

{% block body %}
  <h1>
      {{user_info.username}}님의 페이지 입니다.
  </h1>
  <h4>팔로워: {{user_info.followers.all|length}} 팔로잉:{{user_info.followings.all|length}}</h4>
  <h2>{{user_info.username}}을 팔로우 하는</h2>
  {% for u in user_info.followers.all %}
    <p>{{u}}</p>
  {% endfor %}
  <h2>{{user_info.username}}가 팔로우 하는</h2>
  {% for u in user_info.followings.all %}
    <p>{{u}}</p>
  {% endfor %}
  {% if user.is_authenticated and user_info != user %}
    <a href="{% url 'accounts:follow' user_info.id %}">팔로우</a>
  {% else %}
    <a href="{% url 'accounts:delete' user_info.id %}">회원탈퇴</a>

    <a href="{% url 'accounts:update' %}">정보수정</a>
    <a href="{% url 'accounts:password' %}">비밀번호 변경</a>

  {% endif %}

{% endblock %}