{% load make_link %}

<div class="card col-4 m-2">
  <img src="{{post.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{post.user}}</h5>
    <p class="card-text">{{post|hashtag_link|safe}}</p>
    <p>({{post.like_users.all.count}})</p>
    {% if user in post.like_users.all %}
      <a href="{% url 'posts:like' post.id %}" class="btn btn-outline-danger">
        <h3 class="m-0 p-0">♥</h3>
      </a>
    {% else %}  
      <a href="{% url 'posts:like' post.id %}" class="btn btn-outline-danger">
        <h3 class="m-0 p-0">♡</h3>
      </a>
    {% endif %}
  </div>
</div>